*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(216, 227, 230);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#main{ 
    align-items: center;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.header-image{
    width: 20px;
    height: 20px;
}
.p-tag{
    margin-right: 220px;
    color: rgb(13, 76, 117);
    font-size: 15px;
    font-family: sans-serif;
}
#form1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid  rgb(194, 206, 206);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
/* #form1 :focus{
    background-color: blue;
} */
#form2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid  rgb(194, 206, 206);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
#form3{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid  rgb(194, 206, 206);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
#form4{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid  rgb(194, 206, 206);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
#fname{
    width: 260px;
    height: 20px;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.main-image1{
    width: 10px;
    height: 10px;
   
}
#email{
    width: 260px;
    height: 20px;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.main-image2{
    width: 10px;
    height: 10px;
   
}
#password{
    width: 260px;
    height: 20px;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.main-image3{
    width: 10px;
    height: 10px;
   
}
#confirm{
    width: 260px;
    height: 20px;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.main-image4{
    width: 10px;
    height: 10px;
   
}
#signup{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid  rgb(194, 206, 206);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(52, 135, 231);
}
.signup{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    border: none;
    width: 100px;
    height: 30px;
    background-color: rgb(52, 135, 231) ;
}
#signin{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    /* margin-top: 20px; */
}
.signin{
    color:rgb(13, 76, 117) ;
    font-size: 15px;
    font-family: sans-serif;

}
#google{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid  rgb(224, 235, 238);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    /* margin-top: 20px; */
    background-color: rgb(224, 235, 238);
}
.google-icon{
    margin-left: 60px;
    width: 10px;
    height: 10px;
   
}
.google{
    margin-right: 60px;
    padding: 0px 10px;
    text-decoration: none;
}
.googletext{
    text-decoration: none;
    color: rgb(13, 76, 117) ;
    font-size: 12px;
    font-family: sans-serif;
}
#footer{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
.footer1{
    color:rgb(13, 76, 117);
    font-size: 15px;
    font-family: sans-serif;
}
.footer2{
    color:rgb(52, 135, 231);
    font-size: 15px;
    font-family: sans-serif;
}
#dot1{
    border: 1px solid rgb(52, 135, 231);
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    margin-right: 5px;
    background-color: rgb(52, 135, 231);
    position: relative;
    animation-name: dotplay1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes dotplay1{
    0%{
        bottom:0px;
    }
    25%{
        bottom: 10px;
    }
    50%{
        bottom: 0px;
    }
    /* 75%{ */
        /* bottom: 10px; */
    /* } */
    100%{
        top: 0px;
    }
}
#dot2{
    border: 1px solid rgb(52, 135, 231);
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgb(52, 135, 231);
    position: relative;
    animation-name: dotplay2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes dotplay2{
    0%{
        bottom:0px;
    }
    25%{
        bottom: 0px;
    }
    50%{
        bottom: 10px;
    }
    /* 75%{ */
        /* bottom: 5px; */
    /* } */
    100%{
        bottom: 0px;
    }
}
#dot3{
    border: 1px solid rgb(52, 135, 231);
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    margin-left: 5px;
    background-color: rgb(52, 135, 231);
    position: relative;
    animation-name: dotplay3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes dotplay3{
    0%{
        bottom:0px;
    }
    /* 5%{ */
        /* bottom: 0px; */
    /* } */
    25%{
        bottom: 0px;
    }
    50%{
        bottom: 10px;
    }
    75%{
        bottom: 0px;
    }
    100%{
        bottom: 0px;
    }
}
#dot{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
#main{
    border: 1px solid white;
    height: 520px;
    width: 350px;
    padding: 0px 25px ;
    border-radius: 10px;
    background-color: white;
}
input::placeholder{
    color: rgb(13, 76, 117);
}





